@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2/family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
}
h1{
font-size: 2.5rem;
font-weight:700;
color: rgb(35,35,85);
}
span{
font-size: .9rem
}
h1{
font-size: 1.1rem;
color: rgb(24,24,49);
}header nav {
  background: #fff;
  box-shadow: 0px 0px 5px #4444;
  font-family: 'Poppins', sans-serif;
}

header nav a.navbar-brand h2 {
  color: rgb(35,35,85);
}

header nav a.navbar-brand img{
width:60px;
height:60px;
}

header nav ul.action-menu .nav-item .nav-link {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  background-color:#FDC93B;
  color:rgb(35,35,85);
  border-radius:50px;
}

header nav ul.action .nav-item .nav-link {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color:rgb(35,35,85);
  font-size: 18px;
}


.navbar-toggler {
  outline:auto;
  outline-color: grey;
  padding: 10px 0;
  border: black;
  border-radius:10px;
  font-size:100px;;
  
}

@media(max-width: 567px){
  
}


#home{
width: 100%;
height: 100vh;
background-size:  cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding-top: 40px;
}

#home h2{
color:#fff;
font-size:2.2rem;
line-height: 2;
letter-spacing:1px;
}

#home p{
width: 50%;
color:#fff;
font-size:5rem;
line-height:25px;
}


.row.heading h2 {
    color:rgb(35,35,85);
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}

.practice-area .inner p{ 
    font-size:30px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.our-webcoderskull{
    background:#fff;
}
.our-webcoderskul{
  background: url("https://static.vecteezy.com/system/resources/thumbnails/017/552/038/small/empty-white-photo-studio-interior-background-clean-iight-interior-scene-mock-up-illustration-vector.jpg") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#adabab; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
   border-radius: 100px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:rgb(35,35,85); 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
   
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:rgb(35,35,85);
}

.our-webcoderskull .cnt-block p{ 
   color: rgb(35,35,85); 
   font-size:14px; 
   line-height:20px; 
   font-weight:400;
}

.our-webcoderskull .cnt-block ul a{ 
    font-size: 30px;
    display: inline-block;
    align-items: center;
    text-align: center;
    opacity: 0.90;
    color: rgb(35,35,85);
}
    
    
.our-webcoderskull .cnt-block ul a:hover{ 
    opacity: 90;
    
}

    .footer{
        padding: 10px 0;
        background-color: rgb(35,35,85);
        font-family: 'Poppins', sans-serif;
        }
        
        .footer .social{
        text-align: center;
        padding-bottom: 10px;
        color: #ffff;
        }
        
        .footer .social a{
        font-size: 40px;
        color: inherit;
        line-height: 2;
        display: inline-block;
        align-items: center;
        text-align: center;
        opacity: 0.90;
        margin-left: 20px;
        color:#ffff;
        }
        
        .footer .social a:hover{
        opacity:90;
        }
        
        .footer ul{
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size:18px;
        line-height: 2.5;
        margin-bottom: 0;
        text-align: center;
        color: #ffff;
        }
        
        .footer ul li a{
        color: inherit;
        text-decoration: none;
        opacity: 0.90;
        }
        
        .footer ul li {
        display: inline-block;
        padding: 0 15px;
        }
        
        .footer ul li a:hover{
        opacity: 90;
        }
        
        .footer p{
        text-align: center;
        font-size: 14px;
        color: #ffff;
        }
 
@media(max-width: 772px) {
  
      #home{
        padding-top: 40px;
      }
      #home p{
        width: 90%;
        font-size: 1.3rem;
        }

        #features .fea-box h3{
          font-size: 2.5 rem;
          }
          
          #features .fea-box p{
          font-size: 22px
          }

  #features p{
    font-size:20px;
  }
}

