@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2/family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'Poppins', sans-serif;
}
h1{
font-size: 2.5rem;
font-weight:700;
color: rgb(35,35,85);
}
span{
font-size: .9rem
}
h1{
font-size: 1.1rem;
color: rgb(24,24,49);
}
header nav {
  background: #fff;
  box-shadow: 0px 0px 5px #4444
}

header nav a.navbar-brand h2 {

  color: rgb(35,35,85);
}

header nav a.navbar-brand img{
width:60px;
height:60px;
}

header nav ul.action-menu .nav-item .nav-link {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
  background-color:#FDC93B;
  border-radius:50px;
}

header nav ul.action .nav-item .nav-link {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color:  rgb(35,35,85);
  padding-left: 10px;
  font-size: 18px;
}

.navbar-toggler {
  outline:auto;
  outline-color: grey;
  padding: 10px 0;
  border: black;
  border-radius:10px;
  font-size:larger;
  
}

@media(max-width: 567px){
  
}

.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 10px 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  margin-bottom: 100px;
}



.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color:rgb(35,35,85);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: rgb(35,35,85);
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: rgb(35,35,85);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background:rgb(35,35,85);
}

@media (max-width: 950px) {
  .container{
    width: 100%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}

.footer{
  position: sticky;
  top: 100%;
  padding: 10px 0;
  background-color:rgb(35,35,85);
  margin-top: auto;
  }
  
  .footer .social{
  text-align: center;
  padding-bottom: 10px;
  color: #ffff;
  }
  
  .footer .social a{
  font-size: 40px;
  color: inherit;
  line-height: 2;
  display: inline-block;
  align-items: center;
  text-align: center;
  opacity: 0.90;
  margin-left: 20px;
  color:#ffff;
  }
  
  .footer .social a:hover{
  opacity:90;
  }
  
  .footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size:18px;
  line-height: 2.5;
  margin-bottom: 0;
  text-align: center;
  color: #ffff;
  }
  
  .footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.90;
  }
  
  .footer ul li {
  display: inline-block;
  padding: 0 15px;
  }
  
  .footer ul li a:hover{
  opacity: 90;
  }
  
  .footer p{
  text-align: center;
  font-size: 14px;
  color: #ffff;
  }